header {
  background-color: #e3e3e3;
  text-align: center;
  padding-bottom: 5px;
}

header > h1 {
  display: block;
  background-color: #d0d0d0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 0;
}

.assignment-nav > ul {
  color: blue;
  display: inline-block;
  padding: 0;
}

#container {
  margin-top: 20px;
  background-color: #434343;
  padding: 15px;
}

main {
  width: 76%;
  margin-right: 10px;
}

main > article {
  margin: 15px;
  padding: 0 15px;
  background-color: #e3e3e3;
  border: 5px solid #cdcd97;
}

main,
aside {
  display: inline-block;
  background-color: #676767;
  height: 330px;
}

.article-title {
  text-align: center;
}

.assignment-section {
  margin: 15px;
}

.assignment-section > div {
  display: inline-block;
  margin: 3px;
  background-color: #e3e3e3;
  border: 5px solid #cdcd97;
  width: 310px;
  height: 145px;
  box-sizing: border-box;
  padding: 60px;
  text-align: center;
}

aside {
  width: 22%;
  vertical-align: top;
}

.aside-content {
  background-color: #e3e3e3;
  border: 5px solid #cdcd97;
  margin: 15px;
  padding: 6px 15px;
}

.aside-title {
  text-align: center;
  padding: 10px;
}

.aside-list {
  padding-left: 25px;
  height: 200px;
}

footer {
  margin-top: 15px;
  height: 70px;
  background-color: #d0d0d0;
  text-align: center;
}

footer > p {
  text-align: center;
  box-sizing: border-box;
  padding: 50px;
  font-size: 12px;
}

a {
  text-decoration: none;
}
